#begin {
    text-align: center;
    background-color: #5465c4;
}

.begin-title {
    font-size: 48px;
    color: #fff;
    margin: 0;
    padding: 100px 0 50px;
    /* 设置顶部 padding 为 100px */
    height: 50px;
    width: 100%;
}



.hint {
    font-size: 20px;
    padding: 0px 0 50px;
    color: #fff;
    margin: 10px 0;
}
.title-container {
    background-color: #ffffff;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    /* 推动其他标题靠右对齐 */
}

.logo {
    width: 40px;
    /* 设置logo宽度 */
    height: auto;
    /* 根据宽度自动调整高度 */
    margin-right: 10px;
}

.brand-text {
    font-size: 18px;
    color: #000000;
}

.title {
    font-size: 18px;
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
}

.answer-text{
    text-align: center;
    font-size: 24px;
    margin-left: 10%;
    max-width: 80%;
    line-height: 40px;
}